---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero" style="background-image: url('{{site.baseurl}}/assets/images/BG2.jpeg'); background-size: cover; background-position: center;">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font" style="background-color: black; color: white; font-size: 30px; font-family: 'Tahoma', sans-serif;">Kathe Isabelle</h1>      
      <p class="lead mb-4" style="background-color: black; color: white; font-size: 17px; font-family: 'Courier New', monospace;">
        a computer engineering student at UFPEL, Game Developer and Artist. On this site, You will find my academic, personal, and bootcamp projects. Covering 2D/3D game development, game design, digital art, 3D modeling, and programming. This is the place to learn more about what I do/love and follow my journey in the world of technology and innovation.
      </p>      
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro mx-auto d-block" height="500" src="{{site.baseurl}}/assets/images/emoji1.png">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>

